body{
  background-color: lightgray;
}

.title {
  color: rgb(41,41,41);
  font-family: 'Rock Salt', cursive, Arial, Helvetica, sans-serif;
}
.add {
  display: inline;
  margin-bottom: 1rem;
  padding: .5rem;
  background-color: white;
  border-radius: 4px;
  border: solid 1px rgb(41, 41, 41);
}

